<div class="home-page">
  <div class="banner" *ngIf="!authServ.isAuthenticated()">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item" *ngIf="authServ.isAuthenticated()">
              <a class="nav-link">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Global Feed</a>
            </li>
          </ul>
        </div>

        <div class="article-preview" *ngIf="loading">Loading articles...</div>
        <div class="article-preview" *ngIf="!loading && articles.length === 0">
          No articles are here... yet.
        </div>

        <app-articles [articles]="articles"></app-articles>
      </div>

      <div class="col-md-3">
        <app-sidebar (tagClickEvent)="tagClickHandler($event)"></app-sidebar>
      </div>
    </div>
  </div>
</div>
